@model VehicleRentalManagementSystem.Models.Billing

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Billing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ReservationId" class="control-label"></label>
                <select asp-for="ReservationId" class="form-control" asp-items="ViewBag.ReservationId"></select>
                <span asp-validation-for="ReservationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseAmount" class="control-label"></label>
                <input asp-for="BaseAmount" class="form-control" />
                <span asp-validation-for="BaseAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax" class="control-label"></label>
                <input asp-for="Tax" class="form-control" />
                <span asp-validation-for="Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalCharges" class="control-label"></label>
                <input asp-for="AdditionalCharges" class="form-control" />
                <span asp-validation-for="AdditionalCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingDate" class="control-label"></label>
                <input asp-for="BillingDate" class="form-control" />
                <span asp-validation-for="BillingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
